/* DOCUMENT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

/* MOBILE FIRST - @media screen and (max-width: 576px) */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#F5F5F5;
}

/* MAIN */
main {
    color:#212121;
}

main header,
main section,
main article,
main article .dot-place-period,
main article .recommandations,
main article .item {
    display: flex;
    flex-direction: column;
    text-align: center
}

main header h1 {
    font-size: 2rem;
    margin-top: 6vh;
}

main header h1 .first-name {
    color: #FF9800;
}

main header .little-bar hr{
    width: 8vh;
    margin: auto;
    margin-bottom: 9vh;
    border: solid;
    border-color: #FF9800;
    border-width: 1px;
}

main header h2,
main article .header {
    font-size: 1rem;
}

main article .header {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

main article .header i {
    color: #FF9800;
    font-size: 1.5rem;
}

main article hr {
    border: solid;
    border-color: #FF9800;
    border-width: 1px;
}

main article .item {
    font-size: 0.70rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main article .item .fa-dot-circle,
main article .item .fa-circle {
    color: #FF9800;
}

main article .item .dot .fa-dot-circle {
    font-size: 0.6rem;
}

main article .item .dot .fa-circle {
    font-size: 0.4rem;
}

main article .item .place-period {
    font-size: 0.65rem;
}

main article .item .content h3{
    margin-bottom: 0.3rem;
}

main article .item .content p{
    margin-bottom: 0.2rem;
}

main article .recommandations {
    font-size: 0.80rem;
    margin-top: 1rem;
}

main article .recommandations .recommandations-item {
    margin-bottom: 2%;
}

main article .recommandations .recommandations-item h5{
    text-transform: uppercase;
    margin-bottom: 0.2rem;
}

main article .recommandations .recommandations-item p{
    font-size: 0.65rem;
}

main article .recommandations .recommandations-item p a {
    color: #212121;
    text-decoration: none;
}

/* LE FRONT */

aside {
    background-color: #424242;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.70rem;
}

aside img {
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50rem;
    border-color: #FF9800;
    border-style: solid;
    border-width: 3px;
    align-self: center;
}
aside article h2 {
    background-color: #212121;
    color: #FF9800;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-top: 3px;
    padding-bottom: 3px;
}

aside article .contact-element {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

aside article .contact-element a {
    color: #F5F5F5;
    text-decoration: none;
}

aside article .about-me {
    text-align: center;
    margin: 3vh;
}

aside article .loisirs-icons i {
    border-radius: 50rem;
    border-style: solid;
    margin-bottom: 3vh;
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 10px;
    font-size: 1em;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    main {
        margin-left: 3vh;
        margin-right: 3vh;
    }

    main article .item,
    main article .item .dot-place-period {
        flex-direction: row;
    }

    main article .item .dot-place-period,
    main article .item .content {
        text-align: justify;
    }

    main article .item .dot-place-period {
        width: 33%;
    }

    main article .item .content {
        width: 66%;
    }
    main article .item .dot-place-period i {
        margin-right: 1em;
    }

    main article .recommandations {
        flex-direction: row;
    }
    main article .recommandations .recommandations-item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    body {
        flex-direction: row-reverse;
    }
    
    aside {
        width: 33%;
    }

    aside article .contact-element,
    aside article .about-me {
        text-align: justify;
        margin-left: 3vh;
        margin-right: 3vh;
    }

    main header {
        align-items: flex-start;
    }

    main article .header {
        display: flex;
        flex-direction: row;
    }

    main article .header i {
        margin-right: 1em;
    }

    main article .recommandations {
        margin-bottom: 2em;
    }

    main article .recommandations .recommandations-item {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    aside {
        width: 328px;
    }
}